<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Accommodation Availability</h1>

    <h2>Halls</h2>
    <ul>
        {% for hall in halls %}
        <li>
            Accommodation ID: {{ hall.accommodation_id }}<br>
            Weddings: {{ hall.weddings }}<br>
            Birthdays: {{ hall.birthdays }}<br>
            Parties: {{ hall.parties }}<br>
            Baby Shower: {{ hall.baby_shower }}<br>
            Corporate Events: {{ hall.corporate_events }}<br>
            Christmas: {{ hall.christmas }}<br>
            Lifestyle Photoshoot: {{ hall.lifestyle_photoshoot }}<br>
        </li>
        {% endfor %}
    </ul>

    <!-- Display Apartments -->
    <h2>Apartments</h2>
    <ul>
        {% for apartment in apartments %}
        <li>
            Accommodation ID: {{ apartment.accommodation_id }}<br>
            Check-in: {{ apartment.check_in }}<br>
            Check-out: {{ apartment.check_out }}<br>
            Guests: {{ apartment.guests }}<br>
            Rooms: {{ apartment.rooms }}<br>
            Apartment Availability: {{ apartment.apartment_availability }}<br>
        </li>
        {% endfor %}
    </ul>
    <a href="/add">Add Bookings</a>
</body>
</html>